*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebar {
  width: 270px;
  max-height: 100vh;
  background-color: #18181B;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
}

.sidebarContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  width: 120px;
  height: auto;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  max-width: 193px;
}

.navItem {
  display: flex;
  align-items: center;
  width: 193px;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.navItem:hover {
  background-color: #444;
}

.icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}


.active {
  background-color: #42D9C8;
  color: black;
}

.active .icon {
  filter: brightness(0);
}

.navItem:hover {
  background-color: #2a2a2a;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
  justify-content: center;
}

.logout .icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-left: 10px;
}

.logout:hover {
  color: #5c5858;
}
