.btn{
    box-sizing: border-box;
    width: 26rem;
    height: 2.75rem;
    border-radius: 0.25rem;
    font-size: 1.1rem;
    color: white;
    background-color: #42D9C8;
    border: none;
    cursor: pointer;
}