.container{
    background-image: url(../../pages/login/img/backgroundLogin.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  top;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;  /* centraliza horizontalmente */
    align-items: center;
}